@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #ffffff;
  color: #111827;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 40px;
  position: relative;
  color: #d1d5db;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0%;
  height: 2px;
  background-color: #D4AF37;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active {
  color: #D4AF37;
}

.nav-link.active::after {
  width: 100%;
}